
.game-room-container{
    position: fixed;
    top: 0;
    padding-top: 8vh;
    width: 100vw;
    height: 92vh;
    background-image: linear-gradient(60deg,#082038,#123253,#3b6692);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: .8;
}
.top-container-info{
    display: flex;
    justify-content: space-between;
}

.top-game-room-container{
    width: 100vw;
    height: 60%;
    display: flex;
    flex-direction: column;

}

#player1{
    width: 14vw;
    height: 41vh;
    background-image: linear-gradient(#0e2f51,#1a4e82,#4078b0);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: .5vw;
}

@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }   
}

#player2{
    width: 14vw;
    height: 41vh;
    background-image: linear-gradient(#0e2f51,#1a4e82,#4078b0);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: .5vw;

}

@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }   
}


#player3{
    width: 14vw;
    height: 41vh;
    background-image: linear-gradient(#0e2f51,#1a4e82,#4078b0);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: .5vw;

}

@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }   
}

#player4{
    width: 14vw;
    height: 41vh;
    background-image: linear-gradient(#0e2f51,#1a4e82,#4078b0);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: .5vw;

}

@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }   
}

#player5{
    width: 14vw;
    height: 41vh;
    background-image: linear-gradient(#0e2f51,#1a4e82,#4078b0);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: .5vw;

}

@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }   
}
.top-left-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.loading-screen-images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
}

.host-info{
    display: flex;
    margin-bottom: 2vw;
    font-size: 2vw;
    width: 10vw;

}

.update-del-room-btns{
    display: flex;
    justify-content: flex-end;
}


#update-room{
    background-color: transparent;
    font-family: azonix;
    color: white;
    font-size: 1.5vw;
    padding: .5vw;
}

#updating-room{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}

.update-room-form{
    position: fixed;
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 8;
}
.end-room-form{
    position: fixed;
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 8;
}
.end-review-form{
    position: fixed;
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}
#session-end-title{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}
#review-end-title{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}
#review-title{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}
#close-room{
    background-color: transparent;
    font-family: azonix;
    color: white;
    font-size: 1.5vw;
    padding: .5vw;
}

.review-box{
    text-transform: capitalize;
    display: flex;
    color: white;
    font-family: azonix;
    justify-content: space-between;
    width: 30vw;
    margin-bottom: 3vh;
}

.review-username{
    margin-right: 0.5vw;
}

#username-text{
    border: 1px solid darkgrey;
    margin-left: 0.5vw;
    box-shadow: 0px 0px 10px 5px grey;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;

}

#review-text{
    border: 1px solid darkgrey;
    margin-right: 1vw;
    box-shadow: 0px 0px 10px 5px grey;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;

}
#review-text:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    transform: scale(1.1);
}
#close-room{
    border: 1px solid grey;
    margin-right: 1vw;
    box-shadow: 0px 0px 10px 5px black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
}
#close-room:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#game-room-title{
    margin-top: 2vw;
    color: white;
    font-family: azonix;
    font-size: 2vw;
    margin-left: 2vw;
}

#game-room-name{
    margin-top: 2vw;
    color: white;
    font-family: brightness;
    font-size: 2vw;
    margin-left: 2vw;
}


.top-right-container{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    color: white;
    font-family: azonix;
    font-size: 1vw;
    margin-right: 2vw;

}
.host-info{
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
}

#end-session-btn{
    background: none;
	color: inherit;
	border: 1px solid black;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: azonix;
    border: 1px solid black;
    border-color: white;
    padding-top: .2vw;
    margin-right: 1vw;
    
}
#end-session-btn:hover{
    background: none;
    background-color: aquamarine;
    border-color: white;
    padding-top: .2vw;
    color: black;
}


#handle-update-btn{
    background: none;
	color: inherit;
	border: 1px solid black;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: azonix;
    border: 1px solid black;
    border-color: white;
    padding-top: .2vw;
}

#handle-update-btn:hover{
    background: none;
    background-color: aquamarine;
    border-color: white;
    padding-top: .2vw;
    color: #000000;
}

.bottom-game-room-container{
    width: 100%;
    height: 30%;
}

#room-leader{
    margin-right: .5vw;
}

 .game-room-bg-img{
    width: 100vw;
    height: 92vh;
    opacity: .6;
    padding-top: 8vh;

}