
.game-room-container{
    width: 100vw;
    height: 100vh;
    background-color: #091e34;
    display: flex;
    flex-direction: column;
}

.top-game-room-container{
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-between; 
}

.top-left-container{
    display: flex;
    flex-direction: column;
}


.host-info{
    display: flex;
}

.update-del-room-btns{
    display: flex;
    justify-content: space-evenly;
}


#update-room{
    background-color: transparent;
    font-family: azonix;
    color: white;
    font-size: 1.5vw;
    padding: .5vw;
}

#updating-room{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}

.update-room-form{
    position: fixed;
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.end-room-form{
    position: fixed;
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#session-end-title{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}
#review-title{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}
#close-room{
    background-color: transparent;
    font-family: azonix;
    color: white;
    font-size: 1.5vw;
    padding: .5vw;
}

.review-box{
    text-transform: capitalize;
    display: flex;
    color: white;
    font-family: azonix;
    justify-content: space-between;
    width: 30vw;
    margin-bottom: 3vh;
}

.review-username{
    margin-right: 0.5vw;
}

#username-text{
    border: 1px solid darkgrey;
    margin-left: 0.5vw;
    box-shadow: 0px 0px 10px 5px grey;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;

}

#review-text{
    border: 1px solid darkgrey;
    margin-right: 1vw;
    box-shadow: 0px 0px 10px 5px grey;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;

}
#review-text:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    transform: scale(1.1);
}
#close-room{
    border: 1px solid grey;
    margin-right: 1vw;
    box-shadow: 0px 0px 10px 5px black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vw;
    padding-left: 1vw;
}
#close-room:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#game-room-title{
    margin-top: 2vw;
    color: white;
    font-family: azonix;
    font-size: 2vw;
    margin-left: 2vw;
}

#game-room-name{
    margin-top: 2vw;
    color: white;
    font-family: azonix;
    font-size: 1vw;
    margin-left: 2vw;
}


.top-right-container{
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    color: white;
    font-family: azonix;
    font-size: 1vw;
    margin-right: 2vw;
}
.host-info{
    font-size: 1vw;
}

#end-session-btn{
    background: none;
	color: inherit;
	border: 1px solid black;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: azonix;
    border: 1px solid black;
    border-color: white;
    padding-top: .2vw;
    
}
#end-session-btn:hover{
    background: none;
    background-color: aquamarine;
    border-color: white;
    padding-top: .2vw;
    color: black;
}


#handle-update-btn{
    background: none;
	color: inherit;
	border: 1px solid black;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: azonix;
    border: 1px solid black;
    border-color: white;
    padding-top: .2vw;
}

#handle-update-btn:hover{
    background: none;
    background-color: aquamarine;
    border-color: white;
    padding-top: .2vw;
    color: black;
}



