
@font-face {
    font-family: coronos;
    src: url(../../components/Fonts/coronos/Song\ Of\ Coronos.otf.otf);
}

@font-face {
    font-family: azonix;
    src: url(../../components/Fonts/azonix/Azonix.otf);
}

@font-face {
    font-family: brightness;
    src: url(../../components/Fonts/brightnessFont/Brightness.ttf);
}
@font-face {
    font-family: brightnessLarge;
    src: url(../../components/Fonts/brightnessFont/Brightnesslarge.ttf);
}




.login-container{
    background-image: url('./login-bg.jpeg');
    width: 100vw;
    height: 100vh;
    min-height: 900px;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 70px 450px 1fr;
    /* justify-content: center;
    align-items: center; */
}

#login-background{
    /* position: relative; */
    grid-column: 2;
    grid-row: 2;
    background: linear-gradient(to bottom, #571a2c, #41244c, #24243e);
    border-radius: .5vw;
    /* width: 28vw;
    height: 70vh; */
    width: 100%;
    height: 100%;
    opacity: .9;
}
.login-form{
    /* position: absolute; */
    grid-column: 2;
    grid-row: 2;
    top: 50;
    /* width: 28vw;
    height: 70vh; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 20px rgba(0,0,0,1);
}

#login-title{
    font-family: brightness;
    font-size: 37px;
    color: white;
    text-align: center;
    margin-top: 70px;
    padding-bottom: 50px;
}

#input-login{
    font-family: azonix;
    font-size: 12px;
}

#errors-em{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

#errors-email{
    position: absolute;
    font-family: azonix;
    font-size: .8vw;
    color: #c12d41;
    top: -4.7vw;
}

#errors-pass{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
}

#errors-password{
    position: absolute;
    font-family: azonix;
    font-size: .8vw;
    color: #c12d41;
    top: -4.7vw;
}

.login-form .email-username-container {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}
.login-form .email-username-container input{
    /* width: 12vw; */
    font-size: 12px;
    color: #fff;
    padding-top: 10px;
    border: none;
    border-bottom: .1vw solid #fff;
    outline: none;
    background: transparent;
    margin-bottom: 20px;
}
.login-form .email-username-container label{
    /* position: absolute;
    top:0;
    left: 0; */
    font-size: 12px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-form .email-username-container input[type=text]:focus ~label,
.login-form .email-username-container input[type=text]:valid ~label
{
    top: -1.5vw;
    left: 0;
    color: #2efdcd;
    transform: scale(.7);
    animation-fill-mode: forwards;
}

.login-form .email-username-container input[type=password]:focus ~label,
.login-form .email-username-container input[type=password]:valid ~label
{
    top: -1.5vw;
    left: 0;
    color: #2efdcd;
    transform: scale(.7);
    text-align: center;
    animation-fill-mode: forwards;
}

.login-submit-container {
  cursor: pointer;
}

#login-submit{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: azonix;
}

.login-form a {
    position: relative;
    display: inline-block;
    /* padding: .6vw; */
    padding: 7px;
    color: #2efdcd;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    /* margin-top: .1vw; */
    margin: 6px;
    letter-spacing: 4px
}

.login-form a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px #2efdcd,
                0 0 10px #2efdcd,
                0 0 30px #2efdcd,
                0 0 30px #2efdcd;
  }

  .login-form a span {
    position: absolute;
    display: block;
  }
  

  .login-form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: .24vh;
    background: linear-gradient(90deg, transparent, #2efdcd);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .login-form a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: .13vw;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2efdcd);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  .login-form a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: .24vh;
    background: linear-gradient(270deg, transparent, #2efdcd);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-form a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: .13vw;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2efdcd);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
 
  /* **** SIGN UP CSS***** */

.signup-container{
    background-image: url('./league-bg.jpeg');
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 70px auto 1fr;
    justify-content: center;
    align-items: center;
}
#signup-background{
    /* position: relative; */

    grid-column: 2;
    grid-row: 2;
    background: linear-gradient(to bottom, #adcce2, #8e6234, #252d26);
    border-radius: 5px;
    /* width: 28vw;
    height: 71vh; */
    width: 100%;
    height: 100%;
    opacity: .9;
}

.signup-form{
    /* position: absolute; */
    top: 50;
    /* width: 28vw;
    height: 71vh; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 20px rgba(0,0,0,1);
    border-radius: 5px;
    
}


#signup-title{
    font-family: brightness;
    font-size: 37px;
    color: white;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
}

#input-signup{
    font-family: azonix;
    font-size: 12px;
}

#errors-signup-em{
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 100vw;
}
#errors-login-em{
  /* position: relative; */
  display: none;
  justify-content: center;
  width: 100vw;
}

#errors-confirm-password{
  font-family: azonix;
  font-size: 12px;
  color: #3dcbd5;
  top: -3.6vw;
}

#errors-signup-email{
    /* position: absolute; */
    font-family: azonix;
    font-size: 12px;
    color: #3dcbd5;
    top: -3.6vw;
}

#errors-signup-user{
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 100vw;
}

#errors-signup-username{
    /* position: absolute; */
    font-family: azonix;
    font-size: .8vw;
    color: #3dcbd5;
    top: -3.6vw;
}

#errors-signup-pass{
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 100vw;
}

#errors-signup-password{
    /* position: absolute; */
    font-family: azonix;
    font-size: 12px;
    color: #3dcbd5;
    top: -3.6vw;
}

#errors-confirm-pass{
    /* position: relative; */
    display: flex;
    justify-content: center;
    width: 100vw;
}

#errors-confirm-password{
    /* position: absolute; */
    font-family: azonix;
    font-size: .8vw;
    color: #3dcbd5;
    top: -3.6vw;
}

.signup-form .signup-info-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    width: 100%;
}
.signup-form .signup-info-container input{
    width: 60%;
    font-size: 12px;
    color: #fff;
    padding-top: 5px;
    border: none;
    border-bottom: .1vw solid #fff;
    outline: none;
    background: transparent;
    margin-bottom: 10px;
}
.signup-form .signup-info-container label{
    /* position: absolute; */
    top:0;
    left: 0;
    font-size: .9vw;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.signup-form .signup-info-container input[type=text]:focus ~label,
.signup-form .signup-info-container input[type=text]:valid ~label
{
    top: -1.5vw;
    left: 0;
    color: #e4cf35;
    transform: scale(.7);
    animation-fill-mode: forwards;
}

.signup-form .signup-info-container input[type=password]:focus ~label,
.signup-form .signup-info-container input[type=password]:valid ~label
{
    top: -1.5vw;
    left: 0;
    color: #e4cf35;
    transform: scale(.7);
    text-align: center;
    animation-fill-mode: forwards;
}

#signup-submit{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-family: azonix;
}

#update-submit{
  background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
  font-family: azonix;
}

.signup-form a {
    position: relative;
    display: inline-block;
    padding: 10px;
    color: #e4cf35;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.signup-form a:hover {
    background: #e4cf35;
    color: #fff;
    border-radius: .2vw;
    box-shadow: 0 0 .33vw #e4cf35,
                0 0 1.65vw #e4cf35,
                0 0 3.3vw #e4cf35,
                0 0 6.6vw #e4cf35;
  }

  .signup-form a span {
    position: absolute;
    display: block;
  }
  

  .signup-form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: .24vh;
    background: linear-gradient(90deg, transparent, #e4cf35);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }

  .signup-form a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: .13vw;
    height: 100%;
    background: linear-gradient(180deg, transparent, #e4cf35);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }

  .signup-form a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: .24vh;
    background: linear-gradient(270deg, transparent, #e4cf35);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .signup-form a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: .13vw;
    height: 100%;
    background: linear-gradient(360deg, transparent, #e4cf35);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

#demo-user{
  /* margin-top: 10px; */
  /* padding-top: 10px; */
  background-color: transparent;
  border: none;
  font-family: azonix;
  color: #2efdcd;
}

#demo-user{
  font-size: 14px;
  font-family: azonix;
  cursor: pointer;
}

.updateUserForm-bg{
  background-image: linear-gradient(90deg, rgb(179, 234, 227), rgb(57, 120, 120));
  width: 100vw;
  height: 92vh;
  position: fixed;
  top: 8vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.updateUserForm{
  width: 25vw;
  height: 40vh;
  background-color: #afaffe;


}

.delete-form-container{
  text-align: center;
  padding-top: .5vw;
  width: 13vw;
  height: 11vh;
  position: fixed;
  top: 20vh;
  right: 20vw;
  border: 1px dotted black;
  background-image: linear-gradient(#847686,#c3b6c4);
  font-family: azonix;
  font-size: 1vw;
}

.yes-no-btn{
  margin-top: .5vw;
  display: flex;
  justify-content: space-evenly;
}

#yes-del-acc{
  background-color: transparent;
  font-family: azonix;
}
#no-del-acc{
  background-color: transparent;
  font-family: azonix;
}

#yes-del-acc:hover{
  background-color: #ffa1a1;
  transform: scale(1.1);
  font-family: azonix;
}
#no-del-acc:hover{
  background-color: #79fa95;
  transform:scale(1.1);
  font-family: azonix;
}

