.room-container{
    width: 100vw;
    height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    border: 3px solid white;
    z-index: 4;
}

.create-room{
    width: 80vw;
    height: 15vh;
    background-color: #173f62;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 .33vw gray,
        0 0 1vw gray,
        0 0 1vw gray,
        0 0 1vw gray;
    position: relative;
}

#img-banner{
    position: absolute;
    top: 0;
    width: 80vw;
    height: 15vh;
}

.left-create-room-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 5vw;

}

.right-create-room-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4vw;
    align-items: flex-end;
}




.blur-background{
    /* position: sticky; */
    position: fixed;
    top: 0;
    background-color:#d1d2d4;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 3;
}


#form-close{
    width: 100%;
    max-width: 25vw ;
    height: 4vh;
    display: flex;
    margin-left:8vw;
    padding-right: 0;
    margin-right: 0;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

#room-title{
    color: white;
    font-family: azonix;
}

#title-input{
    margin-left: 1vw;
}
#game-duration-input{
    margin-left: 1vw;
}
#a-checkbox{
    margin-left: 1vw;
}
#room-body{
    color: white;
    font-family: azonix;
    margin-top: .7vw;
    margin-bottom: .7vw;
}
#hosted-by{
    color: white;
    font-family: azonix;
}

#star-value{
    color: #fcff64;
  }

#non-star-value{
color: #a4a4a8; 
}

#showstar-rating{
margin-left: 1vw;
}

#room-duration{
    color: white;
    font-family: azonix;
    font-size: 1vw;
}

#display-num-user{
    color: white;
    font-family: azonix;
    font-size: vw;
}

#create-rm-btn{
   background: rgb(23, 23, 68);
   opacity: .9;
   color: white;
   font-family: azonix;
   border: 1px solid white;
   padding: none;
   margin-top: .7vw;
   margin-bottom: .7vw;
   height: 5vh;
}
#room-full-btn{
    background: rgb(106, 234, 106);
    opacity: .9;
    color: white;
    font-family: azonix;
    border: 1px solid white;
    padding: none;
    margin-top: .7vw;
    margin-bottom: .7vw;
    height: 4vh;
}

#create-rm-btn:hover{
    transform: scale(1.1);
    color: yellow;
}

.game-banner{
    width: 100vw;
    height: 10vh;
    position: relative;
    top: 0;
    background-image: linear-gradient(#02111d, #0b263e) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    position: absolute;
    font-family: brightness;
    top: 0;
    font-size: 4vw;
    color: white;
}

#modal-bg-container{
    position: fixed;
    background: linear-gradient(to bottom, #061523, #0d1257, #afb8d3);
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .8;
    top:10%;
    right: 25%;
    z-index: 4;
}

.create-room-form{
    position: fixed;
    border-radius: .5vw;
    width: 30vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 6;
}

#game-duration{
    color: white;
    font-family: azonix;
}

#private-room{
    color: white;
    font-family: azonix;
}

#creating-room{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}

#submit-room{
    background-color: transparent;
    font-family: azonix;
    color: white;
    font-size: 1.5vw;
    padding: .5vw;
}

#submit-room:hover{
    background-color: #0b263e;
}

.join-room{
    margin-top: 1vh;
    width: 80vw;
    height:80%;
    background-color: #0b263e;
    box-shadow: 0 0 .33vw gray,
    0 0 1vw gray,
    0 0 1vw gray,
    0 0 1vw gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.single-room-container{
  padding-top: 1.5vw;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  border-bottom: 1px solid rgb(198, 193, 193);
  margin-bottom: 1vw;
  padding-bottom: 1vw;

}

.render-room-components{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lock{
    color: brown;
    margin-right: 1vw;
    font-size: 2vw;
}

#unlock{
    color: green;
    margin-right: 1vw;
    font-size: 2vw;
}

#host-username{
    color:rgb(118, 201, 111);
    font-family: azonix;
    font-size: 1.2vw;
    margin-left: 1vw;
}

.host-leader-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#quotes-container{
    position: absolute;
    width: 80vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quotes{
    position: absolute;
    font-size: 2.5vw;
    text-shadow: 2px 1px #03182c;
    color: white;
    font-family: coronos;
}

.gif-room-container{
    display: flex;
    background-image: url("./container-for-zoey.png")
}
.gif-container{
    position: relative;
    height: 81vh;
    width: 37vw;

}
#gif{
    position: absolute;
    height: 81vh;
    width: 37vw;
    left: -8vw;


}