.room-container{
    width: 100vw;
    height: 93vh;
    /* display: flex; */
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 150px auto;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    /* border: 3px solid white; */
    z-index: 4;
}

.create-room{
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    background-color: #173f62;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 .33vw gray,
        0 0 1vw gray,
        0 0 1vw gray,
        0 0 1vw gray;
    position: relative;
}

#img-banner{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.left-create-room-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 5vw;

}

.right-create-room-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4vw;
    align-items: flex-end;
}




.blur-background{
    /* position: sticky; */
    position: fixed;
    top: 0;
    background-color:#d1d2d4;
    opacity: .5;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 3;
}


#form-close{
    width: 100%;
    max-width: 25vw ;
    height: 4vh;
    display: flex;
    margin-left:8vw;
    padding-right: 0;
    margin-right: 0;
    align-items: center;
    justify-content: flex-end;
    z-index: 5;
}

#room-title{
    color: white;
    font-family: azonix;
}

#title-input{
    margin-left: 1vw;
}

#game-duration-input{
    margin-left: 1vw;
}

#a-checkbox{
    margin-left: 1vw;
}

#room-body{
    color: white;
    font-family: azonix;
    margin-top: .7vw;
    margin-bottom: .7vw;
}

#hosted-by{
    color: white;
    font-family: azonix;
}

#star-value{
    color: #fcff64;
}

#non-star-value{
color: #a4a4a8; 
}

#showstar-rating{
margin-left: 1vw;
}

#room-duration{
    color: white;
    font-family: azonix;
    font-size: 1vw;
}

#display-num-user{
    color: white;
    font-family: azonix;
    font-size: vw;
}

#create-rm-btn{
   background: rgb(23, 23, 68);
   opacity: .9;
   color: white;
   font-family: azonix;
   border: 1px solid white;
   padding: none;
   margin-top: .7vw;
   margin-bottom: .7vw;
   height: 5vh;
}
#room-full-btn{
    background: rgb(106, 234, 106);
    opacity: .9;
    color: white;
    font-family: azonix;
    border: 1px solid white;
    padding: none;
    margin-top: .7vw;
    margin-bottom: .7vw;
    height: 4vh;
}

#create-rm-btn:hover{
    transform: scale(1.1);
    color: yellow;
}

.game-banner{
    width: 100vw;
    height: 7vh;
    position: relative;
    top: 0;
    background-image: linear-gradient(#02111d, #0b263e, #264968,#7895ae) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    position: absolute;
    font-family: brightness;
    top: 0;
    font-size: 3vw;
    color: white;
}

#modal-bg-container{
    position: fixed;
    background: linear-gradient(to bottom, #061523, #0d1257, #afb8d3);
    border-radius: .5vw;
    width: 50vw;
    height: 72vh;
    opacity: .8;
    top:10%;
    right: 25%;
    z-index: 4;
}

.create-room-form{
    position: fixed;
    border-radius: .5vw;
    width: 30vw;
    height: 72vh;
    opacity: .9;
    top:10%;
    right: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 6;
}

#game-duration{
    color: white;
    font-family: azonix;
    position: relative;
}

#private-room{
    color: white;
    font-family: azonix;
}

#room-password{
    color: white;
    font-family: azonix;
}

#creating-room{
    color: white;
    font-family: brightness;
    font-size: 2vw;
}


#submit-room{
    background-color: transparent;
    font-family: azonix;
    color: white;
    font-size: 1.5vw;
    padding: .5vw;
}

#submit-room:hover{
    background-color: #0b263e;
}

.game-index-bg-container{
    position: relative;
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height:100%;
}
#game-index-bg{
 margin-top: 1vh;
 width: 80vw;
 height:100%;
 position: absolute;

}
.join-room{
    position: absolute;
    margin-top: 1vh;
    width: 100%;
    height:100%;
    background: linear-gradient(to bottom, #0b092c, #254879,#252579 );
    box-shadow: 0 0 .33vw gray,
    0 0 1vw gray,
    0 0 1vw gray,
    0 0 1vw gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.single-room-container{
  padding-top: 1.5vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgb(198, 193, 193);
  margin-bottom: 1vw;
  padding-bottom: 1vw;

}

.render-room-components{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lock{
    color: rgb(255, 0, 0);
    margin-right: 1vw;
    font-size: 2vw;
}

#unlock{
    color: rgb(12, 255, 12);
    margin-right: 1vw;
    font-size: 2vw;
}

#host-username{
    color:rgb(118, 201, 111);
    font-family: azonix;
    font-size: 1.2vw;
    margin-left: 1vw;
}

.host-leader-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#quotes-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quotes{
    position: absolute;
    font-size: 2.5vw;
    text-shadow: 3px 1px #74253c;
    color: white;
    font-family: coronos;
}

.gif-room-container{
    display: flex;
    /* background-repeat: repeat-x,repeat;
    height: 93vh;
    animation: gameIndexAlternateBg 14s infinite;  */
}

@keyframes gameIndexAlternateBg{
    0%,100% {background-image:  url("./container-for-roomindex 1.png")}
    25% {background-image: url("./container-for-roomindex 2.png")}
    50% {background-image: url("./container-for-roomindex 3.png")}
    75% {background-image: url("./container-for-roomindex 4.png")}
}


#gif-container{
    background-image: url("./container-for-roomindex 1.png"),url("./container-for-roomindex 2.png"),url("./container-for-roomindex 3.png"), url("./container-for-roomindex 4.png"),url("./container-for-roomindex 5.png") ;
    position: relative;
    grid-column: 1;
    grid-row: 1/3;
    height: 93vh;
    width: 100%;
    background-repeat: repeat-x,repeat;
    height: 93vh;
    animation: gameIndexAlternateBg 14s infinite; 

}

@keyframes gameIndexAlternateBg{
    0%,100% {background-image:  url("./container-for-roomindex 1.png")}
    20% {background-image: url("./container-for-roomindex 2.png")}
    40% {background-image: url("./container-for-roomindex 3.png")}
    60% {background-image: url("./container-for-roomindex 4.png")}
    80% {background-image:  url("./container-for-roomindex 5.png")}
}


#gif-container2{
    background-image:  url("./container-for-roomindex 6.png"),url("./container-for-roomindex 7.png"),url("./container-for-roomindex 8.png"),url("./container-for-roomindex 9.png"),url("./container-for-roomindex 10.png");
    position: relative;
    grid-column: 1;
    grid-row: 1/3;
    height: 93vh;
    width: 100%;
    background-repeat: repeat-x,repeat;
    height: 93vh;
    animation: gameIndexAlternateBg2 14s infinite; 

}

@keyframes gameIndexAlternateBg2{
    0%,100% {background-image:  url("./container-for-roomindex 6.png")}
    20% {background-image: url("./container-for-roomindex 7.png")}
    40% {background-image: url("./container-for-roomindex 8.png")}
    60% {background-image: url("./container-for-roomindex 9.png")}
    80% {background-image:  url("./container-for-roomindex 10.png")}

}


#gif-container3{
    background-image: url("./container-for-roomindex 11.png"),url("./container-for-roomindex 12.png"),url("./container-for-roomindex 13.png"),url("./container-for-roomindex 14.png"),url("./container-for-roomindex 15.png");
    position: relative;
    grid-column: 1;
    grid-row: 1/3;
    height: 93vh;
    width: 100%;
    background-repeat: repeat-x,repeat;
    height: 93vh;
    animation: gameIndexAlternateBg3 14s infinite; 

}
@keyframes gameIndexAlternateBg3{
    0%,100% {background-image: url("./container-for-roomindex 11.png")}
    20% {background-image: url("./container-for-roomindex 12.png")}
    40% {background-image: url("./container-for-roomindex 13.png")}
    60% {background-image: url("./container-for-roomindex 14.png")}
    80% {background-image:  url("./container-for-roomindex 15.png")}
}

#enter-rm-pw{
    color: white;
    font-family: azonix;
    font-size: .7vw;
    margin-left: .5vw;
}

#enter-pw{
    margin-left: .5vw;
}

#invalid-room-pw{
    color:#ad0000;
    font-family: azonix;
    font-size: .6vw;
    margin-left: .5vw;
    
}

@media screen and (max-width: 850px ) {
    
    .gif-container {
        display: none;
    }

    #gif{
        display: none;
    }

    .create-room {
        width: 100%;
        grid-column: 1/3;
    }

    .game-index-bg-container {
        width: 100%;
        grid-column: 1/3;
    }

    #quotes-container {
        width: 100vw;
    }

    #img-banner {
        width: 100vw;
    }

    #game-index-bg {
        width: 100vw;
    }

    .join-room {
        width: 100vw;
    }

    .single-room-container {
        width: 100vw;
    }


}

