.game-main-container{
    width: 100vw;
    height: auto;
    /* display: flex;
    flex-direction: column; */
}

.game-list{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: .5fr 300px 70px .5fr;
    grid-gap: 3vw;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
}

.voltage-bg-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

#voltage-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    

}

.game-display-container{
    position: absolute;
}

#valorant{
    grid-column: 1;
    grid-row: 2;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    /* margin-right: 3vw; */
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#valorant-image{
    position: absolute;
    top:0;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
}

#league{
    grid-column: 2;
    grid-row: 2;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    /* margin-right: 3vw;     */
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#league-image{
    position: absolute;
    top:0;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
}

#tft{
    grid-column: 3;
    grid-row: 2;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


#tft-image{
    position: absolute;
    top:0;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
}

.game-desc-container{
    width: 100%;
    height: 100%;
    display: flex;
    grid-column: 1/4;
    grid-row: 3;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg,#4f3653, #3d5ab1,#ffe1bd);
    
    background-clip: text;
    color: transparent;
}

#game-desc{
    font-family: azonix;
    font-size: 30px;
}

#valorant-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
                0 0 1vw white,
                0 0 1vw white,
                0 0 1vw white;
    
}

#league-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
        0 0 1vw white,
        0 0 1vw white,
        0 0 1vw white;
}

#tft-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
        0 0 1vw white,
        0 0 1vw white,
        0 0 1vw white;
}

@media only screen and (max-width: 850px){
    .game-list {
        grid-template-columns: 1fr 250px 1fr;
        grid-template-rows: 70px repeat(3, 250px);
        height: 820px;
        /* overflow: auto; */
    }

    #valorant{
        grid-column: 2;
        grid-row: 3;
        /* overflow: hidden; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #league{
        grid-column: 2;
        grid-row: 4;
        /* overflow: hidden; */
    }

    #tft{
        grid-column: 2;
        grid-row: 5;
        /* overflow: hidden; */
    }

    .game-desc-container{
        grid-column: 1/4;
        grid-row: 2;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

    #game-desc{
        font-size: 18px;
        grid-column: 1/4;
        grid-row: 1;
    }

    .game-list {
        display: grid;
        grid-template-columns: 1fr 250px 1fr; 
        grid-template-rows: 50px 70px repeat(3, 250px);
    }

    #voltage-bg {
        width: 155vw;
        height: 115vh;
        overflow: scroll;
    }

    .voltage-bg-container {
        overflow-y: scroll;
    }
}