.game-main-container{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    background-image: url('./game-bg.jpeg') ;

}


.game-list{
    width: 100vw;
    height: 79vh;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

#valorant{
    width: 20vw;
    height: 50vh;
    margin-right: 3vw;
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}


 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}





#valorant-image{
    position: absolute;
    top:0;
    width: 20vw;
    height: 50vh;
    border-radius: .8vw;
}

#league{
    width: 20vw;
    height: 50vh;
    margin-right: 3vw;    
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


#league-image{
    position: absolute;
    top:0;
    width: 20vw;
    height: 50vh;
    border-radius: .8vw;
}

#tft{
    width: 20vw;
    height: 50vh;
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


#tft-image{
    position: absolute;
    top:0;
    width: 20vw;
    height: 50vh;
    border-radius: .8vw;
}

.game-desc-container{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
}

#game-desc{
    font-family: azonix;
    font-size: 2vw;
    color: linear-gradient(45deg, #f3ec78, #af4261);
}

#valorant:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
                0 0 1vw white,
                0 0 1vw white,
                0 0 1vw white;
    
}

#league:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
        0 0 1vw white,
        0 0 1vw white,
        0 0 1vw white;
}

#tft:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
        0 0 1vw white,
        0 0 1vw white,
        0 0 1vw white;
}

