.game-main-container{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
}

.game-list{
    width: 100vw;
    height: 79vh;
    display: grid;
    grid-template-columns: 1fr 250px 250px 250px 1fr;
    grid-template-rows: .5fr 300px .5fr;
    grid-gap: 3vw;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.voltage-bg-container{
    position: relative;
    width: 100vw;
    height: 92vh;
}

#voltage-bg{
    position: absolute;
    width: 100vw;
    height: 92vh;
}

.game-display-container{
    position: absolute;
}

#valorant{
    grid-column: 2;
    grid-row: 2;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    /* margin-right: 3vw; */
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#valorant-image{
    position: absolute;
    top:0;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
}

#league{
    grid-column: 3;
    grid-row: 2;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    /* margin-right: 3vw;     */
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

#league-image{
    position: absolute;
    top:0;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
}

#tft{
    grid-column: 4;
    grid-row: 2;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


#tft-image{
    position: absolute;
    top:0;
    /* width: 20vw;
    height: 50vh; */
    width: 100%;
    height: 100%;
    border-radius: .8vw;
}

.game-desc-container{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(60deg,#01112c, #0636c4,#3a5164);
    background-clip: text;
    color: transparent;
}

#game-desc{
    font-family: azonix;
    font-size: 2vw;
    color: linear-gradient(45deg, #f3ec78, #af4261);
}

#valorant-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
                0 0 1vw white,
                0 0 1vw white,
                0 0 1vw white;
    
}

#league-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
        0 0 1vw white,
        0 0 1vw white,
        0 0 1vw white;
}

#tft-image:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow:0 0 .33vw white,
        0 0 1vw white,
        0 0 1vw white,
        0 0 1vw white;
}

