.reviewIndex-container{
    width: 100vw;
    height: 12vh;
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

.star-rating{
    width: 20vw;
    background-color: blueviolet;
}
