.chat-outer-container{
    display: grid;
    grid-template-columns: 600px 1fr 250px;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.chat-container{
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    overflow-y: auto;
}

.display-room-members{
    width: 100%;
    height: 100%;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: .8vw;
    color: white;
    margin-top: 5vh;
}

#user-messages{
    color: white;
    text-shadow: 1px 1px  black;
    font: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a1bbd4;
}

#room-member{
    margin-top: 20px;
    font-size: 27px;
    margin-bottom: .5vw;
    color: white;
    font-family: azonix;
    margin-right: 4vw;
}

.room-messages-container{
   overflow-y: scroll;
   position: relative;
   width: 100%;
   border-radius: 2px;
   /* background-color: #a1bbd4; */
}

#msg-bg{
    position: absolute;
    top: 0;
    /* background-color: #a1bbd4; */
    opacity: .4;
    width: 100%;
    height: 10px;
    border-radius: 1px;
}


.websocket-form{
    width: 100%;
    background-color: transparent;
    display: flex;
    margin-bottom: 10px;
}

.message-input{
    width: 90%;
    height: 3vh;
    font-size: 1vw;
    background-color: white;
    border: none;
    padding: 2px;
}

.message-submit{
    background: none;
	color: white;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 1vw;
    font-family: azonix;
    border-color: white;
    width: 11%;
    height: 3vh;  
}
.message-submit:hover{
    background: none;
    background-color: aquamarine;
    border-color: white;
    color: black;
    font-size: 1vw;
    width: 11%;
    height: 3vh;
}

#member-room-username{
    display: flex;
    flex-direction: column;
    margin-bottom: .5vw;
    font-family: azonix;
    font-size: 1vw;
    margin-right: 5vw;
}

@media only screen and (max-width: 850px) {
    .chat-outer-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 100%;
        height: 100%;
    }

}